@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "@fortawesome/fontawesome-free/css/all.min.css"; */

*{
  font-family: 'dmsans';
  scroll-behavior: smooth;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
   /* background-color: rgba(201, 255, 198, 0.766); */
   /* overflow-x: hidden; */
   width: 100%;
   
}

.upperBox{
   background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://img.freepik.com/free-vector/watercolor-emerald-background_23-2150270303.jpg?t=st=1750866887~exp=1750870487~hmac=b90953bcbb1d13225ddddb197fd20a80809fc14b1010e7eecddff321413264aa&w=1800');
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  /* font-size: 14px;   */
  border: none;
  outline: none;
  /* color: white; */
  /* padding: 14px 16px; */
  /* padding: 2px 8px; */
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  background-color: rgb(5, 106, 34);
}

.navbar a:hover, .dropdown:hover .dropbtn {
  /* background-color: r; */
  /* color: white; */
}

.dropdown-content {
  display: none;
  text-align: center;
  /* gap: 10px; */
  margin-top: 2px;
  position: absolute;
  /* flex-direction: column; */
  /* background-color: #f9f9f962; */
  background-color:#BBF7D0;

  grid-template-columns: 1fr 1fr 1fr;
   /* display: grid; */
  /* grid-auto-columns: 50px; */
  /* background-color: #DDF9DB; */
  max-width: 60%;
  transition: all 1s ease-out;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /* border-bottom-left-radius:10px ; */
  /* border-bottom-right-radius:10px ; */
  border-radius: 10px;
  left: 20%;
}
.dropdown-contents {
  /* display: none; */
  margin-top: 1px;
  /* position: absolute; */
  /* background-color: #f9f9f962; */
  /* background-color:#BBF7D0; */
  /* color: #ddd; */
  /* min-width: 160px; */
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  /* z-index: 1; */
  /* border-bottom-left-radius:10px ; */
  /* border-bottom-right-radius:10px ; */
  border-radius: 10px;
  /* left: 20%; */
  transition: all 1s ease-out;

}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-contents button{
  float: none;
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown-contents button{
  width: 100%;
  border-radius: 10px;
}
.dropdown-contents button:hover {
  background-color: #ddd;
}
.dropdown-content a:hover {
  background-color: #254523;
  color: #DDF9DB;
}

.dropdown:hover .dropdown-content {
  transition: all 1s ease-out;
  display: grid;
}
.dropdown:hover .dropdown-contents {
  display: flex;
  transition: all 1s ease-out;

}
.link:hover{color: burlywood; transition: color .3s ease-in-out ;}

@keyframes kenburns {
  0% {
    transform: scale(1) translate(0, 0);
  }
  100% {
    transform: scale(1.1) translate(5px, -5px);
  }
}

.kenburns {
  animation: kenburns 8s ease-in-out forwards;
}
.Hero{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) !important;
}

@media (max-width:768px) {
  .divbox{
  width: 100% !important;
  /* height: 90vh !important; */
  height: 100% !important;
  /* height: fit-content; */
  /* overflow-y: scroll; */
  background-color: #abd1a8;
  top: 0;
  position: sticky;
  /* border: 2px solid; */
  border-radius: 5% !important;
  /* margin: 2px auto; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between !important; */
}
.divbox:nth-child(1){
  width: 100%;
  border-radius: 0% !important;
  /* height: 60vh !important; */
  height: fit-content !important;
  /* overflow-y: scroll; */
  background-color: #DDF9DB;
  top: 0;
  position: sticky;
  /* border: 2px solid; */
  /* margin: 2px auto; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between !important; */
}
.ourService{
  border-top-left-radius: 0% !important;
  border-top-right-radius:0% !important;
}

.BordersBox{
  border-top-left-radius: 0% !important;
  border-top-right-radius:0% !important;
}
.divbox p{
  font-size:x-small;
}
.boxesss{
  flex-direction: column;
  /* padding: 2px 2px !; */

}
.right{
  margin: 20px auto;
  padding:10px 0 ;
}
.right h1{
  margin: 5px 0;
}
.left{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 10%; */
  padding: 2px 6px;
}
.leftDetails{
 
  /* margin-top: 10%; */
  padding: 2px 6px;
}
.left img{
  width: 80%;
}
.divbox:nth-child(2){
  top:50px !important;
}
.divbox:nth-child(3){
  top: 60px !important;

}
.divbox:nth-child(4){
  top: 70px !important;
}
}
.divbox{
  width: 100%;
  height: 100vh;
  background-color: #E6F5E0;
  /* overflow-y: scroll; */
  top: 0px;
  position: sticky;
  /* border: 2px solid; */
  border-radius: 10%;
  /* margin: 2px auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow-y:; */
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%; 
}
.OurServiceContent{
  position: relative;
  cursor: pointer;
}
.OurServiceContent::after{
content: "";
height: 5px;
color: black;
left: 0%;
bottom: 0%;
position: absolute;
background: #000;
width: 0%;
transition: all .5s ease-in-out;
border-radius: 20px;
animation: anmate alternate-reverse ;
}
.OurServiceContent:hover::after{
  
    width: 70%;
  }

/* .imgslider{
  border-top-left-radius: 0%;
  border-top-right-radius:0%;
} */
.BordersBox{
  border-top-left-radius: 10% ;
  border-top-right-radius:10% ;
}
.sliderimage{
   /* top: 0; */
  /* position: sticky; */
  /* border: 2px solid; */
  width: 100%;
  /* height: ; */
  /* border-radius: 0%;

  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%; */

}
.ourService{
   /* top: 10%; */
     border-top-left-radius: 10% ;
  border-top-right-radius:10% ;
margin-top: 10%;
  /* position: sticky; */
  /* width: 100% !important; */
  /* border: 2px solid; */
  /* background-color: #BBF7D0; */
  padding: 5% ;
}
.boxes{
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  /* background-color: #DDF9DB; */
}
.contactdesign{
    /* border-top-left-radius: 10%;
  border-top-right-radius: 10%; */
}
/* .divbox:nth-child(1){
  background-color: #16C47F;
  color: #ffffff;
} */
.divbox:nth-child(3){
  background-color: #00441B;
  color: #b5fdb0;
  top: 100px;

}
.divbox:nth-child(2){
  top: 90px;
}
.divbox:nth-child(4){
   border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%; 
  top: 120px;
  background-color: #DDF9DB;

}
.divbox:nth-child(5){
  background-color: #BBF7D0;
}
.left img{
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);

}
.boxesss{
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.parag li{
  /* text-decoration:dotted; */
}

.textHover{
  height: 25px;
  text-align:center;
  /* background-color: red !important; */
  overflow: hidden;
  border: none;
  /* bg-black h-8 text-white items-center overflow-hidden text-center */
}
/* h-[60px] text-center   mx-auto bg-[#FF9D23] overflow-hidden */
.textHovers{
  height:40px;
  text-align: center;
  /* background-color: #FFD65A; */
  overflow: hidden;
  cursor: pointer;
}
.textHovers:hover h3{
    /* transition: all ease-out .2s; */
  transform: translateY(-110%);
  color: #DDF9DB;

}
.TextHovers{
  height:50px;
  text-align: center;
  /* background-color: #10f69a; */
  overflow: hidden;
  cursor: pointer;
}
.TextHovers h2{
  transition: all ease-out .2s;
}
.textHovers:hover h2{
    /* transition: all ease-out .2s; */
  transform: translateY(-110%);

}
.textHovers h3{
  transition: all ease-out .2s;

}
.TextHovers:hover{
  /* background-color: #d9ff00 !important; */
  /* background-color: red !important; */

}
.TextHovers:hover h2{
transform: translateY(-210%);
/* color: #D2FF72; */
}
.textHover h3{
  transition: all ease-out .2s;

}
.textHover:hover h3{
  transform: translateY(-100%);
  /* color: orange !important; */
  color: #D2FF72  ;
}
.signupbtn{

}
.signupbtns h3{
  transition: all .2s ease-out;
}
.signupbtns:hover h3{
  transform: translateY(-100%);
}
.signupbtns:nth-child(1){
  width: 70px;
  /* padding: 3px 3px; */
  font-size: 20px;
  background-color: #deffc8;
  /* border-radius: 4px; */
  border-bottom-left-radius: 20px;
  height: 35px;
  /* color: #000; */
  /* color: rgb(18, 137, 255); */
  /* border: 1px solid #12a607; */
  color: #12a607;
  border-top-right-radius: 20px;
  overflow: hidden;
}
.signupbtns:nth-child(2){
  width: 90px;
  border-top-right-radius: 10px;

  /* padding: 3px 3px; */
  font-size: 20px;
  /* border-radius: 7px; */
  background-color: greenyellow;

  height: 35px;
  color: #000;
  overflow: hidden;
}
.signupbtns:nth-child(2):hover{
  color: #abf5ac;
  background-color: rgb(18, 137, 255);
}
.signupbtns:nth-child(1):hover{
  /* color: #ffffff; */
  color: #96eca6;
  background-color: #12a607;
  border: 1px solid white;

}
/* styles.css */
.clip-hexagon {
  clip-path: polygon(
    50% 0%,
    93% 25%,
    93% 75%,
    50% 100%,
    7% 75%,
    7% 25%
  );
}
